{% extends 'backend/base.html' %}
{% load i18n %}
{% block content %}
<form action="" method="post">
	{% csrf_token %}
	<div class="main-form">
		{{form}}
	</div>
	<button class="btn btn-primary">{% trans "Zapisz" %}</button>
</form>
{% endblock %}
