{% load i18n %}
<html>
	<head>
		<link rel="stylesheet" href="/static/backend_css/default.css" />
		<link href="/static/css/bootstrap.min.css" rel="stylesheet">
		<script src="http://code.jquery.com/jquery-latest.js"></script>
		<script src="/static/css/js/bootstrap.min.js"></script>
		{% block extrahead %}
		{% endblock %}
	</head>
	<body>
		<div id="wrapper">
			<div class="container-fluid">
				<div class="row-fluid">
					<div class="span3">
						<div class="well sidebar-nav">
							<ul class="nav nav-list">
								<li class="nav-header">
									<a href={% url category-add %}>{% trans "Dodaj nową kategorię" %}</a>
								</li>
								{% for category in categories %}
								<li>
									<a href={% url category-edit category.id %}>{{category.name}}</a>
								</li>
								{% endfor %}
							</ul>
						</div><!--/.well -->
					</div><!--/span-->
					<div class="span9">
						{% block content %}
						{% endblock %}
					</div>
				</div><!--/row-->
				<hr>
				<footer>
					<p>
						{% trans "Praca domowa" %}
					</p>
				</footer>
			</div>
	</body>
</html>