{% extends 'backend/base.html' %}
{% load core_tags %}
{% load i18n %}
{% block content %}
	<form method="post">
		{% csrf_token %}
		<div class="main-form">
			{{form}}
		</div>
		{{customfield_formset.management_form}}
		<div class="field-container">
			{% for customfield_form in customfield_formset %}
				{% if forloop.first or forloop.counter0|check_start_row:4 %}
					<div class="field-row">
				{% endif %}
				<div class="field-form">
					{{customfield_form}}
					{% if customfield_form.initial.field_id %}
						<a class="btn" href="{% url field-delete form.initial.category_id customfield_form.initial.field_id %}">{% trans "Usuń" %}</a>
				{% endif %}
				</div>
				{% if forloop.last or forloop.counter0|check_end_row:4 %}
					</div>
				{% endif %}
			{% endfor %}
		</div>
		<button class="btn btn-primary">{% trans "Zapisz" %}</button>
	</form>
	{% if category %}
		<a class="btn" href="{% url announcement-add category.id %}">{% trans "Dodaj nowe ogłoszenie" %}</a>
		<div class="well sidebar-nav">
			<ul class="nav nav-list">
				<li class="nav-header">
					{% trans "Wszystkie ogłoszenia w kategorii" %}
				</li>
				{% for announcement in announcements %}
					<li><a href="{% url announcement-edit category.id announcement.id %}">{{announcement.title}}</a></li>
				{% endfor %}
			</ul>
		</div>
	{% endif %}
{% endblock %}
