{% extends 'frontend/base.html' %}
{% load i18n %}
{% block content %}
<form action="" method="post">
	{% csrf_token %}
	{{form}}
	<div>
		<button class="btn">{% trans "Zapisz" %}</button>
	</div>
</form>
{% endblock %}
