{% load i18n %}
<html>
	<head>
		<link rel="stylesheet" href="/static/css/default.css" />
		<link href="/static/css/bootstrap.min.css" rel="stylesheet">
		<script src="http://code.jquery.com/jquery-latest.js"></script>
		<script src="/static/css/js/bootstrap.min.js"></script>
		{% block extrahead %}
		{% endblock %}
	</head>
	<body>
		<div id="wrapper">
			<div class="navbar navbar-inverse navbar-fixed-top">
		      <div class="navbar-inner">
		        <div class="container-fluid">
		          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
		            <span class="icon-bar"></span>
		            <span class="icon-bar"></span>
		            <span class="icon-bar"></span>
		          </a>
		          <a class="brand" href="/">{% trans "Praca domowa" %}</a>
		        </div>
		      </div>
		    </div>
		    <div class="container-fluid">
		      <div class="row-fluid">
		        <div class="span3">
		          <div class="well sidebar-nav">
		            <ul class="nav nav-list">
		            	<li class="nav-header">{% trans "Kategorie" %}</li>
	            		{% for category_menu in categories %}
							<li{% if category_menu.id == category.id %} class="active"{% endif %}><a href="{% url frontend-category category_menu.id category_menu.name|slugify %}">{{category_menu.name}}</a></li>
						{% endfor %}
		            </ul>
		          </div><!--/.well -->
		        </div><!--/span-->
		        <div class="span9">
				  <div class="hero-unit">
				    <h1>{% trans "Ogłoszenia" %}</h1>
				  </div>
		          {% block content %}
				  {% endblock %}
				</div>
		      </div><!--/row-->
		    <hr>
			<footer>
				<p>{% trans "Praca domowa" %}</p>
			</footer>
		</div>
	</body>
</html>