{% extends 'frontend/base.html' %}
{% load core_tags %}
{% load i18n %}
{% block content %}
	<a class="btn btn-primary" href="{% url frontend-announcement-add category.id category.name|slugify %}">{% trans "Dodaj nowe ogłoszenie" %}</a>
	{% for article in announcements %}
		<article>
			<h3>
				{{article.title}}
			</h3>
			<p>{{article|extract_content|safe}}</p>
		</article>
	{% endfor %}
{% endblock %}
