{% extends 'frontend/base.html' %}
{% load core_tags %}
{% load i18n %}
{% block content %}
	{% for announcement in announcements %}
	  {% if forloop.counter0|check_start_row %}
        <div class="row-fluid">
      {% endif %}
        <div class="span4">
          <h2>{{announcement.title}}</h2>
          <p>{% trans "Kategoria" %}: {{announcement.category.name}}</p>
          <p><a class="btn" href="{% url frontend-category announcement.category.id announcement.category.name|slugify %}">View details &raquo;</a></p>
        </div><!--/span-->
      {% if forloop.counter0|check_end_row and forloop.counter0 != 0 %}
        </div><!--/row-->
      {% endif %}
    {% endfor %}
{% endblock %}
