.span9 form .main-form input,
.span9 form .field-container .field-row .field-form input{
	height: 30px;
	margin-top: 7px;
}
.span9 form .main-form input{
	margin-left: 4px;
}

.span9 form .main-form,
.span9 form .field-row {
	padding: 10px 0;
}
.span9 form .field-row{
	border-top: dotted 1px;
}
.main-form label,
.main-form input {
	display: inline-block; 
}

.field-container .field-row{
	overflow: hidden;
}
.field-container .field-row .field-form {
	float: left;
	padding: 0 5px;
}
